<!DOCTYPE HTML>
<html>
<head>
  <title>jQuery Adventures</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="scripts/script-2.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet-2.css">
</head>
<body>
  <div class="title-1">
    <h1>jQuery Travels - Vacation Confirmation</h1>
  </div>
  
  <h3>Confirmations</h3>
  
  <ul class="confirmation-list">
    <li class='vacation confirmation' id="paris">
       <h2>Paris Vacation</h2>
       <small>Paid $1399.99 on January 14, 2014</small><br>
       <button>Flight details</button>
       <div class='flight'></div>
    </li>
    <li class='vacation confirmation' id="london">
       <h2>London Vacation</h2>
       <small>Paid $1199.99 on December 20, 2013</small><br>
       <button>Flight Details</button>
       <div class='flight'></div>
    </li>
  </ul>
  
</body>
</html>